div{
    display: inline;
}
#bs-example-navbar-collapse-1{
    display: inline;
}
.navbar-default{
    background-color: white;
    border-radius: 0px;
}
#body{
    font-family: Arial, Helvetica, sans-serif;
     background-color: white;
}
 #a2{
    text-decoration: none;
    text-transform: uppercase;
    color: blue;
    font-size: larger;
    margin-right: 300px;
}
.a{
    text-decoration: none;
    text-align: center;

}
#a3{
    text-decoration: none;
    text-align: center;

}
#div1{
    color: white;
    background-color: blue;
    border: 1px solid black;
    margin-left: 25px;
}

#div1:hover{
    color:  blue;
    background-color: transparent;
    border: 1px solid transparent;
}
#div2{
    color: white;
    background-color: blue;
    border: 1px solid black;
    margin-left: 300px;
}
#div2:hover{
    color:  blue;
    background-color: transparent;
    border: 1px solid transparent;
}
#div3{
    color: blue;
    background-color: white;
    border: 1px solid black;
}
#div4{
    background-color: blue;
    color: white;
}
#div4:hover{
    color:  blue;
    background-color: transparent;
}
#div32{
    background-color: blue;
    color: white;
    border: 1px solid black;
    margin-right: 210px;
    margin-left: 25px;
}
#div32:hover{
    color:  blue;
    background-color: transparent;
    border: 1px solid transparent;
}
#gg{
    text-align: center;
    margin-top: 55px;
    margin-bottom: 55px;
    margin-left: 300px;
    border: 2px solid black;
}
#gg:hover{
    box-shadow: 4px 4px rgb(92, 92, 85); 
}
#div5{
    display: block;
    border: 2px solid black;
}
#div5:hover{
    box-shadow: 2px 2px grey;
}
#div6{
    display: block;
    position: relative;
    /*top: 70px;*/
    left: 13px;
    bottom: 25px;
    color: white;
    background-color: black;
    opacity: .8;
    width: 251px;
}

 /*md*/
@media (max-width: 992px) and (min-width: 768px) {
    #gg{
        margin-left: 150px;
    }
    #div1, #div2,#div32{
        background-color: transparent;
            margin: 0px;
            border: 0px;
            color: black;
        }
        #div1:hover, #div2:hover,#div32:hover{
            background-color: transparent;
            margin: 0px;
            border: 0px;
        }
    #div4{
        margin-top: 5px;
    }
    #div3{
        width: 200px;
        margin-top: 20px;
    }
}
 /*s*/
@media (min-width: 576px) and (max-width: 767px){
    #gg{
        margin-left: auto;
        margin-bottom: 50px;
        width: 500px;
    }
    #div1, #div2,#div32{
        background-color: transparent;
            margin: 0px;
            border: 0px;
            color: black;
        }
        #div1:hover, #div2:hover,#div32:hover{
            background-color: transparent;
            margin: 0px;
            border: 0px;
        }
    #div4{
        margin-top: 5px;
    }
    #div3{
        width: 200px;
        margin-top: 20px;
    }
} 
 /*xs*/
@media (max-width: 575px)
 {
    #gg{
        margin-left: auto;
        margin-bottom: 50px;
        width: 300px;
    }
    #div1, #div2,#div32{
    background-color: transparent;
        margin: 0px;
        border: 0px;
        color: black;
    }
    #div1:hover, #div2:hover,#div32:hover{
        background-color: transparent;
        margin: 0px;
        border: 0px;
    }
    #div4{
        margin-top: 5px;
    }
    #div3{
        width: 200px;
        margin-top: 20px;
    }
}
